@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RazorPagesMovie.Pages_Movies.ModelPokemon

@{
ViewData["Title"] = "Index";
}

<h1>Pokemon</h1>

<p>
    <a class="" asp-page="Create">@Html.DisplayFor(model => Model.Film.ReleaseDate)</a>
</p>

<h1> @Html.DisplayFor(model => Model.Film.Title)</h1>


